.header-container {
    position: sticky;
    top:0;
    z-index:1;
    width: -webkit-fill-available;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.14);
    background: linear-gradient( to left, rgb(82 7 80) 0%, rgb(0 54 128) 100% );
}